@{
    ViewData["Title"] = "Home Page";
    //var emp = ViewData["MyEmp"] as Employee;
    //var emps = ViewBag.MyEmployees;
    //var emp = TempData["MyTempEmp"] as Employee;

    //var emps = ViewData["MyEmployee"] as List<Employee>;
    //var emps = ViewBag.MyEmployee;
    var emps = TempData["MyEmployee"] as List<Employee>;
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    if(emps != null)
    {
        foreach(var item in emps)
        {
            <h2>@item.EmpId</h2>
            <h2>@item.EmpName</h2>
            <h2>@item.Designation</h2>
            <h2>@item.Salary</h2>
            <h1>-----------</h1>
        }
    }
}

@* @{
    if (emp != null)
    {
        <h2>ID: @emp.EmpId</h2>
        <h2>Name: @emp.EmpName</h2>
        <h2>Degination: @emp.Designation</h2>
        <h2>Salary: @emp.Salary</h2>
    }
} *@